<h1> Create commmet </h1>

<%= form_tag(user_recipe_comments_path(@user.id,@recipe.id),method: :post) do |f|%>
  <%= label_tag(:comment, "comment") %>
  <%= text_field_tag(:comment) %>
  <%= submit_tag("add comment") %>
<%end%>