/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// @import "materialize/components/color-variables";
// $primary-color: color("blue", "lighten-2") !default;
// $secondary-color: color("yellow", "base") !default;
// //  @import "materialize";
//  @import "materialize/extras/nouislider";
 @import "https://fonts.googleapis.com/icon?family=Material+Icons";
 @import "font-awesome";
 @import "bootstrap";
 body{
   background-color: rgb(250, 244, 244);
 }

 .text-size{
   font-size: 16px;

 }

 header{
   background-position: center;
   background-size: cover;
   height: 70vh;
 }
 .bckg{
   background-position: center;
   background-size: cover;
  height: 60vh;

 }

 .dot {
   height: 25px;
   width: 25px;
   color: whitesmoke;
   padding:2px;
   margin-left:-5px;
   text-align: center;
   background-color: rgb(73, 70, 70);
   border-radius: 50%;
   display: inline-block;
 }

  .dot-big {
    height: 30px;
    width: 30px;
    color: whitesmoke;
    padding: 2px !important;
    padding-top:20px;
    margin-left: -5px;
    text-align: center;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
  }

 .navbar-right {
   float: right !important;
   padding-right: 34px;
   text-align: right;
 }
.time-card{
  float: right;
}
.comment-view{
  text-transform: uppercase;
  display: inline;
   margin-top: 3px;

}
.card-view-comment{
  display: inline-block;
  padding: 5px;
}

.card-view-comment:hover {
  color: orange;
  text-decoration: none;
}

.love-dislike{
  text-align: center;
}

.container{
  margin-top:3.8rem;
  width: 100vw !important;
}

a {
  padding-right: 5rem;
  position: relative;
}

.btn-add_ing{
  margin-top: 1rem ;
  margin-bottom: 2rem;
}

.input-margin-top{
  margin-top: 5rem;
}

.no-padding{
  padding: 0 !important;
}

