/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// @import "materialize/components/color-variables";
// $primary-color: color("blue", "lighten-2") !default;
// $secondary-color: color("yellow", "base") !default;
// //  @import "materialize";
//  @import "materialize/extras/nouislider";
 @import "https://fonts.googleapis.com/icon?family=Material+Icons";
 @import "font-awesome";
 @import "bootstrap";
 body{
   background-color: whitesmoke;
 }

 .text-size{
   font-size: 1rem;

 }

 header{
   background-position: center;
   background-size: cover;
   height: 85vh;
 }
 .bckg{
   background-position: center;
   background-size: cover;
  height: 75vh;

 }

 .dot {
   height: 25px;
   width: 25px;
   color: whitesmoke;
   padding:2px;
   margin-left:-5px;
   text-align: center;
   background-color: rgb(73, 70, 70);
   border-radius: 50%;
   display: inline-block;
 }

  .dot-big {
    height: 30px;
    width: 30px;
    color: whitesmoke;
    padding: 2px !important;
    padding-top:20px;
    margin-left: -5px;
    text-align: center;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
  }

 .navbar-right {
   float: right !important;
   padding-right: 34px;
   text-align: right;
 }
.time-card{
  float: right;
}
.comment-view{
  text-transform: uppercase;
  display: inline;
   margin-top: 3px;

}
.card-view-comment{
  display: inline-block;
  padding: 5px;
}

.card-view-comment:hover {
  color: orange;
  text-decoration: none;
}

.love-dislike{
  text-align: center;
}


a {
  padding-right: 5rem;
  position: relative;
}

.btn-add_ing{
  margin-top: 1rem ;
  margin-bottom: 2rem;
}

.input-margin-top{
  margin-top: 5rem;
}

.no-padding{
  padding: 0 !important;
}

footer{
  color: whitesmoke;
  margin-bottom: 0;
}
.bg-copyright{
  background-color: rgb(57, 62, 68);
}



@media (min-width: 768px){
.row-padding {
  padding-top: 8rem !important;
}

.full-width {
  width: 100%;
}

  .container{
        margin-top: 16rem;
  max-width: 940px !important;
  }
  .navbar {
    height: 14vh !important;
  }



  .navbar-brand{
    font-size: 2.22rem;
  }
  .navbar-toggler {
    font-size: 2.25rem;
  }
}



@media (width: 1024px) {
    .container {
      margin-top: 7rem;
      max-width: 940px !important;
    }
    #search_name {
      margin-left: 2rem;
    }
     .navbar {
       height: 8vh !important;
     }

}


@media (min-width: 1200px) {
  .row-padding {
    padding-top: 0.8rem !important;
    margin-bottom: 0 !important;
  }

  .full-width {
    width: 100%;
  }


  .container {
     margin-top: 6rem;
  max-width: 1220px !important;
  }
   .navbar-brand {
     font-size: 1.25rem;
   }
   .navbar {
     height: 7.5vh !important;
   }
}

.navbar{
  height: 7.5vh;
}

.text-logo{
  color: rgb(161, 113, 22) !important
}
.text-white{
  padding: 5px;
}
.btn-search{
  margin-right: 5px;
}

.footer-view_color{
  background-color: rgb(238, 237, 237);
}

.nopadding{
  padding: 0 !important;
}

.errors{
  margin-top: 5rem !important;
}

.container-flash{
     margin: 0 auto;
     position: absolute;
     z-index: 1;
     top:7%;
     left: 20%;
     width: 60%;
}




