<!-- Footer -->
<footer class="page-footer font-small  pt-4 bg-dark">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-center">

      <!-- Grid row -->


          <!-- Content -->
          <h5 class="text-light h4">Food-up</h5>
          <small class='text-size'>FoodUp is an application that allow you to share your culcute through gastronomy
          share your Recipe Food or Drink, let other know :)
          </small>


        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
          </div>
          <!-- Grid column -->


    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3   bg-copyright">© 2018 Copyright:
      CraftByts
    </div>
    <!-- Copyright -->

  </footer>
